<template>
  <div class="home">
    <div class="mt-4 container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h4 class="text-center">Bienvenidos | Sistema generador de encuestas</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia similique odit inventore.</p>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center"><b>Generar encuesta</b></h5>
              <form @submit.prevent="addSurvey"> <!-- START FORM -->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="TITULO ENCUESTA" v-model="survey.titleSurvey">
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="4" placeholder="DESCRIPCIÓN ENCUESTA" v-model="survey.description"></textarea>
                </div>
                <div class="form-row"> <!-- START SUB-FORM -->
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="TITULO PREGUNTA" v-model="survey.question.titleQuestion">
                  </div>
                  <div class="form-group col-md-6">
                    <select id="inputState" class="form-control" v-model="survey.question.typeQuestion">
                      <option selected>Escoja un tipo...</option>
                      <option>QUESTION_OPEN</option>
                      <option>QUESTION_MULTIPLE</option>
                    </select>
                  </div>
                </div> <!-- END SUB-FORM -->
                <div class="form-group">
                  <textarea
                    class="form-control"
                    rows="4"
                    placeholder="TU RESPUESTA"
                    v-model="survey.answer"
                    v-if="survey.question.typeQuestion==='QUESTION_OPEN'"
                    disabled></textarea>
                </div>
                <!-- incio OPCION MULTIPLE -->
                <div class="form-group" v-if="survey.question.typeQuestion==='QUESTION_MULTIPLE'" disabled>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioa" v-model="survey.answer">
                    <label class="form-check-label" for="exampleRadios1">
                      Respuesta A
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioa" v-model="survey.answer">
                    <label class="form-check-label" for="exampleRadios1">
                      Respuesta B
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioa" v-model="survey.answer">
                    <label class="form-check-label" for="exampleRadios1">
                      Respuesta C
                    </label>
                  </div>
                </div>
                 <!-- final OPCION MULTIPLE -->
                <button type='submit' class="mt-4 btn btn-secondary">Guardar</button>
              </form> <!-- END FORM -->
            </div>
          </div>
        </div> <!-- END FIRST COLUMN -->
        <div class="col-md-2 mt-4">
           <img src="@/assets/icons/add-button.png" alt="Agregar Pregunta" width="50" height="50">
        </div>
      </div>   
    </div>
    <br><br><br><br>
    <Footer/>
  </div> <!-- End div father -->
</template>

<script>
import Footer from '@/components/Footer.vue'
import Swal from 'sweetalert2'
export default {
  name:'Home',
  components:{
    Footer
  },
  data(){
    return{
      surveys:[],
      /** survey save in db */
      survey:{
        titleSurvey:'Encuesta N° 2 desde VUE',
        description:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia similique odit inventore.',
        question:[
          {
            titleQuestion:'',
            typeQuestion:'',
            answer:''
          }
        ]
      }
    }
  },
  created(){
  },
  methods:{
    /** Cambiar esta ruta en la api - no estoy creando preguntas sino encuestas */
    addSurvey(){
      this.axios.post('/survey',{
        titleSurvey: this.survey.titleSurvey,
        description: this.survey.description,
        question:[
          {
            titleQuestion: this.survey.question.titleQuestion,
            typeQuestion: this.survey.question.typeQuestion,
            answer: this.survey.question.answer
          }
        ]
      }).then((res)=>{
        this.surveys.push(res.data);
        /** Clean fields of form */
        this.survey.titleSurvey = '';
        this.survey.description = '';
        this.survey.question.titleQuestion = '';
        this.survey.question.typeQuestion = '';
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Encuesta creada exitosamente',
          showConfirmButton: false,
          timer: 3000
        });
        setTimeout(()=>{
          this.$router.push({name: 'Survey'})
        },3000);
      }).catch(err=>{
        //  e.response.data.error.errors.nombre.message
        console.log('error: ', err.response.data.errors);
      })
    }
  }
}
</script>

<style>

</style>