<template>
  <div class="survey">
    <div class="mt-4 container">
      <h1 class="text-center">Listado de encuestas</h1>
      <div class="row">
        <!-- <div class="col-md-8 offset-md-2"> -->
        <div class="col-md-6" v-for="(surv,index) of surveys" :key="index">
          <div class="mt-4 card">
            <div class="card-header">
              <h5 class="mt-4 text-center title-survey">{{surv.titleSurvey}}</h5>
            </div>
            <div class="card-body">
              <p>{{surv.description}}</p>
              <ul v-for="(quest,index) of surv.question" :key="index">
                <li>
                  {{quest.titleQuestion}}
                </li>
                <p>{{quest.answer}}</p>
                
                <!-- ESTE BOTON ACTIVA EL MODAL PARA ACTUALIZAR EL CUESTIONARIO -->
                <img 
                  src="@/assets/icons/answers.png" 
                  width='30' 
                  height='30' 
                  type="button"
                  alt="Icon delete"
                  data-toggle="modal" 
                  data-target="#exampleModal"
                  @click="activateEdit(surv._id,quest._id)"
                >
                <!-- ELIMINAR LA PREGUNTA -->
                <img 
                  src="@/assets/icons/delete.png" 
                  width='30' 
                  height='30' 
                  type="button"
                  alt="Icon delete"
                  @click="deleteQuestion(surv._id,quest._id)">
                <!-- <button class="btn btn-outline-secondary mx-2" @click="deleteQuestion(surv._id,quest._id)">Eliminar</button> -->
              </ul>
              <!-- BOTON ELIMINAR ENCUESTA -->
              <img 
                src="@/assets/icons/delete.png" 
                class='float-right' width='30' 
                height='30' 
                type="button"
                alt="Icon delete"
                @click="deleteSurvey(surv._id)"
              >
            </div> <!-- END CARD BODY -->
          </div> <!-- END CARD -->

          <!-- MODAL EDIT QUEST -->
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editando...</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form @submit.prevent="updateAnswer()"> 
                    <p class="text-center" style="font-weight:bold">{{answerQuestion.titleQuestion}}</p>
                    <textarea rows="5" class="mt-2 form-control" v-model="answerQuestion.answer"></textarea>
                    <button
                      type="submit"
                      class="mt-2 btn btn-outline-secondary float-right"
                      @click='hideModal()'
                      >Guardar 
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div> <!-- END MODAL EDIT QUESTION -->

        </div> <!-- END FIRST COLUMN -->
      </div> <!-- END FIRST ROW -->
    </div> <!-- END CONTAINER FATHER -->
    <br><br><br><br>
    <Footer/>
  </div> <!-- End div father -->
</template>

<script>
import Footer from '@/components/Footer.vue'
import $ from 'jquery'
import Swal from 'sweetalert2'
export default {
  name:'Survey',
  components:{
    Footer
  },
  data(){
    return{
      surveys: [],
      question:[],
      answer:null,
      answerQuestion: {},
      surveySelected:null,
    }
  },
  created(){
    this.getSurveys();
  },
  methods:{
    getSurveys(){
      this.axios.get('/surveys')
        .then((res)=>{
          this.surveys = res.data;
        }).catch(err=>{
          console.log(err);
        })
    },
    async deleteSurvey(surID){
      try {
        /* eslint-disable */

        /* ALERTA ELIMINAR ENCUESTA */
        Swal.fire({
          title: 'Desea eliminar esta encuesta?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Aceptar!'
        }).then(async (result) => {
          if (result.isConfirmed) {
            /* Hacemos el llamado al endpoint que elimina una pregunta */
            const deleteSurvey = await this.axios.delete(`/survey/${surID}`);
            console.log(deleteSurvey);
            /* Llamamos al metodo que muestra todas las encuestas para refrescar la pagina */
            this.getSurveys();
            Swal.fire(
              'Deleted!',
              'Encuesta eliminada!',
              'success'
            )
          }
        })
        /* Invocamos al siguiente metodo para refrescar la pagina. */
        this.getSurveys();
      } catch (err) {
        console.log(err);
      }
    },
    async updateAnswer(){
        try {
         await this.axios.put(`/sub-question/${this.surveySelected.id}/${this.surveySelected.idQuestion}`,{answerClient:this.answerQuestion.answer});
          this.getSurveys();
          Swal.fire(
            'Respuesta actualizada!!'
          )
        } catch (err) {
          console.log(err);
        }
    },
    async activateEdit(surveyID,questionID){
      try {
        let dataSurvey = await this.axios.get(`/survey/${surveyID}/${questionID}`);
        this.answerQuestion = dataSurvey.data.surveyQuestion;
        this.surveySelected = {
          id: surveyID,
          idQuestion: questionID
        }
      } catch (err) {
        console.log(err);
      }
    },
    async deleteQuestion(idSurv,idQuest){
      try {
        Swal.fire({
          title: 'Esta seguro de querer eliminar esta pregunta?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Aceptar!'
        }).then(async (result) => {
          if (result.isConfirmed) {
            /* Hacemos el llamado al endpoint que elimina una pregunta */
            let questionDelete = await this.axios.delete(`/survey/${idSurv}/${idQuest}`);
            console.log(questionDelete);
            /* Llamamos al metodo que muestra todas las encuestas para refrescar la pagina */
            this.getSurveys();
            Swal.fire(
              'Deleted!',
              'Pregunta eliminada!',
              'success'
            )
          }
        })

      } catch (err) {
        console.log(err);
      }
    },
    hideModal(){
      $('#exampleModal').modal('hide')
    }
  }
}
</script>

<style scoped>
  .title-survey{
    font-weight: bold; 
  }
  ul>li{
    font-weight: bold;
  }
  .bi{
    font-size:30px;cursor:pointer
  }
</style>