<template>
  <div >
    <div class="footer">
    </div>
    <footer id="footer">&#169; Generador de encuestas 2022</footer>
  </div> 
</template>

<script>
  export default {
    name:'Footer' 
  }
</script>

<style scoped>
  #footer{
    background-color:rgb(16, 18, 18);
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family: Century Gothic;
    font-size:18px;
  }

</style>