<template>
  <div id="app">
    <!-- Menú bootstrap@4.6.2 -->
    <nav class="navbar navbar-expand-lg" style="background-color:rgb(16, 18, 18);padding:10px">
      <a class="navbar-brand" href="#" style="color:white">Generador | Escuestas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link class="nav-link" :to="{name:'Home'}"><span>Home</span></router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{name:'Survey'}"><span>Surveys</span></router-link>  
          </li>
        </ul>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<style scoped>
  span{
    color:white; 
  }
</style>